<div class="pannel">
 <%= render 'shared/page_title', title: "Listing all Recipes" %>
 <div class="center">
  <%= will_paginate %>
 </div>

  <%= render 'recipe', obj: @recipes %>
  
 <div class="center">
  <%= will_paginate %>
 </div> 
  
</div>