ul.unstyled {
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  font-size: 14px;
  padding: 0 ;
  a {
    color: #fff;
  }
}
.unstyled p {
  color: #fff;
  a {
    color: #fff;
  }
}

.pannel {
  background: #fff;
  border: 1px solid black;
  margin-bottom: 20px;
}

.description {
  margin-top: 0;
}

.well a {
  color: #2C3E50;
}

.btn-xlarge {
  background-color: #2C3E50;
}

.recipe-action {
  padding: 5px;
  a {
    color: #fff;
  }
}

.pannel-img {
  background-image: asset_url('sidebar-pic2.png');
  height: 100%;
}

.liking {
  padding-right: 10px;
}
